@font-face {
	font-family: "CanterLight";
	src: url('fonts/CanterLight.otf');
}

.header{
	height: 390px;
	background: url(../imgs/bg1.jpg) center fixed;
	background-size: cover;
	font-family: "Poppins", Sans-Serif;
	color: white;

}

header h1 {
	font-family: "CanterLight", Sans-Serif;
	font-size: 250px;
	text-align: center;
}

/**********************************************/
/*                  SEARCH                     /
/**********************************************/
.search-header{
	width: 100%;
	padding: 5px 40px;

	background-color: rgba(0,0,0,0);
	border: #fff 2px solid;

	font-family: "Poppins", Sans-Serif;
	font-size: 15px;
}

.fa-search{
	position: absolute;
	top: 10px;
	left:25px;
}

h2{font-size:24px;}

/**********************************************/
/*                  CARD                       /
/**********************************************/
.card{
	width: 100%;
	height: 450px;

	position: relative;

	text-transform: uppercase;

	cursor: pointer;
	overflow: hidden;
}

.card .thevideo{height: 450px;}

.card .card-text{
	width: 100%;
	position: absolute;
	opacity: 1;
}

.card:hover .card-text{
	opacity: 0.4;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.card .list-title{
	top: 45%; 
	left: 50%; 
	transform: translateX(-50%) translateY(-50%);
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
}

.card .subtitle{
	left: 50%; 
	transform: translateX(-50%);
	font-family: "Poppins", Sans-Serif;
	font-size: 17px;
}

.card .pays, .card .lieu{
	text-align: center;
	top: 20px;
	font-weight: 100;
	letter-spacing: 14px;
  	margin-left: 14px;
}

.card .type{bottom: 80px;}
.card .genre{
	padding: 10px;
	bottom: 0px;
	font-size: 17px;
	/*background-color: rgba(0,0,0,0.7);*/
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.card .genre i{
	margin-right: 10px;
}

.flaticon-technology:before {
	font-size: 20px;
}

/* Overlay */
/* Top part */
a.closebtn{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 30px;
	color: white;
	font-family: "Poppins";
}

.topPartContent{
	overflow-x: hidden;
}

.imageOeuvre{
	height: 50vh;
	color: white;
	text-align: center;
	padding: 100px 0 0 0;
	background-position: top;
}

.filmImg{
	padding-left:0;
	padding-right:0;
	cursor: pointer;
}

.imageOeuvre h1{
	margin: 0;
	font-size: 75px;
}

/* .contentContainer {
	padding: 30px;
} */

.imgScene{
	width: 100%;
	object-fit: cover;
	margin-top: 30px;
}

.changeScene{
	margin-top: 20px;
	cursor: pointer;
}

.sceneDescription{
	padding-right: 0;
	padding-left: 0;
	color: white;
	text-align: center;
}

/* .sceneDescription .nomScene{
	text-align: center;
	padding: 15px;
	border: 1px solid white;
	font-size: 25px;
}
 */
.descriptionBloc{
/* 	height: 25vh;
margin-bottom: 100px; */
}

.fa.carousel-control{
	position: absolute;
	top: 160px;
	right: 35px;
}

.fa.down.carousel-control{
	top: 200px;
}

.carousel.vertical .carousel-inner > .item {
	-webkit-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel.vertical .carousel-inner > .item {
		-webkit-transition: 0.6s ease-in-out;
		transition: 0.6s ease-in-out;
	}
	.carousel.vertical .carousel-inner > .item.next, .carousel.vertical .carousel-inner > .item.active.right {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		top: 0;
	}
	.carousel.vertical .carousel-inner > .item.prev, .carousel.vertical .carousel-inner > .item.active.left {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		top: 0;
	}
	.carousel.vertical .carousel-inner > .item.next.left, .carousel.vertical .carousel-inner > .item.prev.right, .carousel.vertical .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		top: 0;
	}
}

/* Bottom part */
/* MAP */
#map{
	height: 50vh;
}

.mapReceiver{
	padding: 0;
}
