@font-face {
	font-family: "CanterLight";
	src: url('fonts/CanterLight.otf');
}

header#home{
	height: 390px;
}

header h1 {
	font-family: "CanterLight", Sans-Serif;
	font-size: 250px;

	text-align: center;
}

/**********************************************/
/*                  SEARCH                     /
/**********************************************/
.search-header{
	width: 100%;
	padding: 5px 40px;

	background-color: rgba(0,0,0,0);
	border: #fff 2px solid;

	font-family: "Poppins", Sans-Serif;
	font-size: 18px;
}

.fa-search{
	position: absolute;
	top: 7px;
	left:25px;
}

h2{font-size:24px;}

/**********************************************/
/*                  CARD                       /
/**********************************************/
.card{
	width: 100%;
	height: 450px;

	background-color:	rgba(0,0,0,0);

	text-transform: uppercase;

	cursor: pointer;
	overflow: hidden;
}

.card .thevideo{height: 450px;}

.card .card-text{
	width: 100%;
	position: absolute;
	opacity: 1;
}

.card:hover .card-text{
	opacity: 0.4;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.card .list-title{
	top: 45%; 
	left: 50%; 
	transform: translateX(-50%) translateY(-50%);

	text-transform: uppercase;
	font-size: 40px;
}

.card .subtitle{
	left: 50%; 
	transform: translateX(-50%);

	font-family: "Poppins", Sans-Serif;
	font-size: 24px;
}

.card .lieu{top: 20px;}
.card .type{bottom: 80px;}
.card .genre{bottom: 50px;}

/* Overlay */
/* Top part */
.imageOeuvre{
	height: 50vh;
	color: white;
	text-align: center;
	padding: 100px 0 0 0;
	background-position: top;
}

.noPadding{
	padding:0;
}

.imageOeuvre h1{
	margin: 0;
	font-size: 75px;
}

/* Bottom part */
/* MAP */
#map{
	height: 50vh;
}

.mapReceiver{
	padding: 0;
}