*{
	margin: 0;
	padding: 0;
  outline: none;
}

/* General */
@font-face {
  font-family: "Canter";
  src: url('/fonts/CanterBold.otf');
}

body{
  font-family: "Canter";
}

h2{
  font-size: 75px;
  text-transform: uppercase;
}

/* Navbar */
.navbar-default {
 background-color: transparent;
 border: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
 color: white;
}

/* Overlay */
.topPart { 
  height: 0%;
  width: 100%;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: #795548; 
  overflow-y: hidden; 
  transition: 0.5s; 
}

.bottomPart { 
  color: white;
  height: 0%;
  width: 100%;
  position: fixed; 
  z-index: 1; 
  left: 0;
  bottom: 0;
  background-color: #795548; 
  overflow-y: hidden; 
  transition: 0.5s; 
}

.bottomPart-content {
  position: relative;
  top: 25%; 
  width: 100%;
  text-align: center; 
  margin-top: 30px; 
}

.topPart-content {
  position: relative;
  top: 25%; 
  width: 100%;
  text-align: center; 
  margin-top: 30px; 
}

.topPart a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}

.topPart .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .topPart a {font-size: 20px}
  .topPart .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Header */
header#home{
 width: 100%;
 height: 100vh;
 background: url(../imgs/bg1.jpg) center fixed;
 background-size: cover;
 font-variant: small-caps;
 font-size: 24px;
 color: #f4f4f4;
}

header img{
 margin-top: 170px;
}

/* Main */
section#mainContent{
 margin: 50px 0 50px 0;
}

#main{
  margin-top: 50px;
  margin-bottom: 100px;
}

/* Cards */
.card{
  margin-bottom: 30px;
  background-color: black;
  text-align: center;
  color: white;
  height: 250px;
}

.lastFilmAdded{
  padding: 50px;
  cursor: pointer;
}

.searchBy{
 color: white;
 text-transform: uppercase;
 padding: 100px 0 100px 0;
 text-align: center;
 font-size: 20px;
}

.searchBy input{
  border: 2px solid white;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  background: none;
  width: 175px;
  text-align: center;
}

#searchByFilms{
 background: url(../imgs/searchByFilms.jpg) center no-repeat;
 background-size: cover;
}

#searchByLocation{
 background: url(../imgs/searchBySeries.jpg) center;
 background-size: cover;
}
